<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Todo</title>
    <style>
      .completed {
        text-decoration: line-through;
      }

      .selected {
        color: red;
      }
      .empty {
        border-color: red;
      }
    </style>
  </head>
  <body>
    <div id="todo-app">
      <div>
        <input type="button" value="全部标为完成" @click="markAllAsCompleted" />
        <span v-if="hasRemovedTodo">
          <input type="button" value="撤销" @click="restoreTodo()" />
        </span>
        <input
          type="text"
          v-model="newTodoTitle"
          placeholder="添加 todo"
          @keyup.enter="addTodo"
          :class="{empty:flag}"
        />
        <span v-if="flag">请输入TODO</span>
      </div>
      <!-- todo list -->
      <ul>
        <li v-for="todo in filteredTodos" :key="todo.id">
          <input
            type="text"
            value="编辑 todo"
            v-if="editedTodo!==null && editedTodo.id===todo.id"
            v-model="todo.title"
            @keyup.enter="editDone(todo)"
            @keyup.esc="cancelEdit(todo)"
            v-focus="true"
          />
          <span
            :class="{completed:todo.completed}"
            @dblclick="editTodo(todo)"
            v-else
            >{{todo.title}}</span
          >
          <input
            type="button"
            value="标为完成"
            @click="markAsCompleted(todo)"
            v-if="!todo.completed"
          />
          <input
            type="button"
            value="标为未完成"
            @click="markAsNoCompleted(todo)"
            v-else
          />

          <input type="button" value="删除todo" @click="removeTodo(todo)" />
        </li>
      </ul>
      <!-- end todo list -->
      <div>
        <span>剩余 {{leftTodosCount}} 项未完成 ---</span>
        <span
          >筛选：
          <input
            type="button"
            @click="intention='all'"
            :class="{selected:intention=='all'}"
            value="全部"
          />
          <input
            type="button"
            @click="intention='undone'"
            :class="{selected:intention=='undone'}"
            value="进行中"
          />
          <input
            type="button"
            @click="intention='finished'"
            :class="{selected:intention=='finished'}"
            value="已完成"
          />
          <input type="button" value="清除已完成" @click="clearCompleted" />
          <input type="button" value="清除全部" @click="clearAll" />
        </span>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let id = 0;
    var STORAGE_KEY = "vue2.x-todo-tutorial";
    var todoStorage = {
      fetch: function () {
        var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]");
        todos.forEach(function (todo, index) {
          todo.id = index;
        });
        todoStorage.uid = todos.length;
        return todos;
      },
      save: function (todos) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todos));
      },
    };
    var app = new Vue({
      el: "#todo-app",
      data: function () {
        return {
          todos: todoStorage.fetch(),
          newTodoTitle: "",
          checkEmpty: false,
          isDisplay: "",
          removedTodo: null,
          editedTodo: null,
          intention: "all",
        };
      },
      methods: {
        addTodo: function () {
          if (this.newTodoTitle.length) {
            this.todos.push({
              id: todoStorage.uid++,
              title: this.newTodoTitle,
              completed: false,
              intention: "undone",
            });
            this.newTodoTitle = "";
            this.checkEmpty = false;
          } else {
            this.checkEmpty = true;
          }
        },
        markAsCompleted: function (todo) {
          todo.completed = true;
        },
        markAsNoCompleted: function (todo) {
          todo.completed = false;
        },
        removeTodo: function (todo) {
          //   if (confirm("确定删除吗?"))
          //   this.todos.splice(this.todos.indexOf(todo), 1);
          let pos = this.todos.indexOf(todo);
          this.removedTodo = {
            pos: pos,
            todo: this.todos.splice(pos, 1)[0],
          };
        },
        restoreTodo: function () {
          let pos = this.removedTodo.pos;
          let restored = this.removedTodo.todo;
          this.todos.splice(pos, 0, restored);
          this.removedTodo = null;
        },
        editTodo: function (todo) {
          this.editedTodo = { id: todo.id, title: todo.title };
        },
        editDone: function (todo) {
          this.editedTodo = null;
        },
        cancelEdit: function (todo) {
          todo.title = this.editedTodo.title;
          this.editedTodo = null;
        },
        markAllAsCompleted: function () {
          this.todos.map((todo) => (todo.completed = true));
        },
        clearCompleted: function () {
          this.todos = this.todos.filter((todo) => !todo.completed);
        },
        clearAll: function () {
          this.todos = [];
        },
      },
      computed: {
        leftTodos: function () {
          return this.todos.filter((todo) => !todo.completed);
        },
        flag: function () {
          return !this.newTodoTitle.length && this.checkEmpty;
        },
        hasRemovedTodo: function () {
          return !!this.removedTodo;
        },
        leftTodosCount: function () {
          return this.leftTodos.length;
        },
        filteredTodos: function () {
          if (this.intention === "undone") {
            return this.leftTodos;
          } else if (this.intention === "finished") {
            return this.todos.filter((todo) => todo.completed);
          } else {
            return this.todos;
          }
        },
      },
      directives: {
        focus: {
          inserted: function (el) {
            el.focus();
          },
        },
      },
      watch: {
        todos: {
          handler: function (todos) {
            todoStorage.save(todos);
          },
          deep: true,
        },
      },
    });
  </script>
</html>
